{% extends 'bmsapp/base.html' %}

{% block title %}Author Form{% endblock %}

{% block content %}
<h1>{% if author %}Edit Author{% else %}Add Author{% endif %}</h1>
<form method="post">
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'author_list' %}" id="cancelButton">
        <button type="button">Cancel</button>
    </a>
</form>
{% endblock %}