{% extends 'bmsapp/base.html' %}
{% block title %}Publisher List{% endblock %}
{% block content %}
<h1>Publisher List{% if search_key %} - Search "{{ search_key }}"{% endif %}</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State/Province</th>
            <th>Country</th>
            <th>Website</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for publisher in publisher_list %}
            <td><a href="{% url 'bmsapp:publisher_detail' publisher.id %}">{{ publisher.name }}</a></td>
            <td>{{ publisher.address }}</td>
            <td>{{ publisher.city }}</td>
            <td>{{ publisher.state_province }}</td>
            <td>
                {% if publisher.country %}<a href="{% url 'bmsapp:country_detail' publisher.country.id %}">{{ publisher.country }}</a>
                {% else %}
                {{ publisher.country }}
                {% endif %}
            </td>
            <td>
                {% if publisher.website %}<a href="{{ publisher.website }}" target="_blank">{{ publisher.website }}</a>
                {% else %}
                {{ publisher.website }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'bmsapp:publisher_update' publisher.id %}">
                    <button>Edit</button>
                </a>
                <a href="{% url 'bmsapp:publisher_delete' publisher.id %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'bmsapp:publisher_create' %}">
    <button>Add Publisher</button></a>
{% endblock %}