{% extends 'bmsapp/base.html' %}
{% block title %}publisher Detail - {{ publisher.name }}{% endblock %}
{% block content %}

{% block heading %}
<h1>Publisher Detail - {{ publisher.name }}</h1>
{% endblock %}

{% block detail %}
<table>
    <tr>
        <td>Image:</td>
        <td><img src="{{MEDIA_URL}}{{ publisher.image }}" alt="{{ publisher.name }}" width="300"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ publisher.name }}</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>{{ publisher.address }}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{ publisher.city }}</td>
    </tr>
    <tr>
        <td>State/Province:</td>
        <td>{{ publisher.state_province }}</td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>
            {% if publisher.country %}<a href="{% url 'country_detail' publisher.country.id %}">{{ publisher.country }}</a>
            {% else %}
            {{ publisher.country }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Website:</td>
        <td>
            {% if publisher.website %}<a href="{{ publisher.website }}" target="_blank">{{ publisher.website }}</a>
            {% else %}
            {{ publisher.website }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Books:</td>
        <td>
                {% for book in publisher.book_set.all %}
            <ul>
                <li>
                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                </li>
            </ul>
                {% empty %}
                There is no book of this publisher.
                {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}

{% block buttons %}
<a href="{% url 'publisher_update' publisher.id %}">
    <button>Edit</button>
</a>
<a href="{% url 'publisher_delete' publisher.id %}">
    <button>Delete</button>
</a>
<a href="{% url 'publisher_list' %}">
    <button>Publisher List</button>
</a>
{% endblock %}

{% endblock %}
