{% extends 'studentmgmtsys/base.html' %}

{% block title %}Student Form{% endblock %}

{% block content %}
<h1>Report</h1>

<table><tr><td>
<form method="get">
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="submit" />
</form>
</td><td></td><td></td><td></td><td>
<div {% if color %}style='color:{{color}}{% endif %}'>
<h1>{{title}}</h1>
{% if title %}<h2>Student Management System</h2><h3>Report Time: {% now "jS F Y H:i" %}</h3><hr>{% endif %}
{% if name %}<h3>Name: {{name}}</h3>{% endif %}
{% if email %}<h3>Email: <a href="mailto:{{email}}">{{email}}</a></h3>{% endif %}
<table>
{% for k, v in data.items %}
<tr><td><b>{{k}}:</b></td><td></td><td>{{v}}<br></td></tr>
{% endfor %}
</table>
{% if notes %}<h3>Notes:</h3>{% endif %}
<p>{{notes}}</p>
</div>
</td></tr></table>

{% endblock %}
