{% extends 'studentmgmtsys/base.html' %}

{% block title %}Subject List{% endblock %}

{% block content %}
    <h1>Subject List</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Credit</th>
                <th>Students</th>
                <th>Enrollments</th>
                {% comment %}
                <th>Details</th>
                <th>Delete</th>
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.credit }}</td>
                <td><a href="{% url 'studentmgmtsys:search_students_by_subject' subject.id %}">Students</a></td>
                <td><a href="{% url 'studentmgmtsys:search_enrollments_by_subject' subject.id %}">Enrollments</a></td>
                {% comment %}
                <td><a href="{% url 'studentmgmtsys:subject_detail' subject.id %}">Details</a></td>
                <td><a href="{% url 'studentmgmtsys:delete_subject' subject.id %}">Delete</a></td>
                {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
