<!-- cart_view.html -->
{% extends 'ecommerce/base.html' %}
{% block title %}Your Cart{% endblock %}

{% block content %}
<h1>Your Cart</h1>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle" style="width: 80%; font-size: 120%;">
        {% if cart_data %}
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for data in cart_data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'ecommerce:product_detail' data.cart_item.product.id %}">
                        <img src="https://picsum.photos/id/{{ data.cart_item.product.id }}/200/200"
                            alt="{{ data.cart_item.product.name }}" width="80"></a>
                    &nbsp;<a href="{% url 'ecommerce:product_detail' data.cart_item.product.id %}">{{ data.cart_item.product.name|title }}</a>&nbsp;
                </td>
                <td>{{ data.cart_item.product.price }}</td>
                <td>{{ data.cart_item.product.quantity }}</td>
                <form method="post" action="{% url 'ecommerce:edit_cart_item' data.cart_item.id %}">
                    <td>{% csrf_token %}{{ data.form.as_p }}</td>
                    <td><button type="submit">Update</button></td>
                </form>
                <td>{{ data.sub_total }}</td>
                <td>
                    <a href="{% url 'ecommerce:remove_from_cart' data.cart_item.id %}">
                        <button>Remove</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% if cart_data %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="{% url 'ecommerce:create_order' %}">
                        <button class="btn btn-primary">Create Order</button>
                    </a>
                </td>
                <td><b>Total:</b></td>
                <td><b>{{ total_price }}</b></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% if not cart_data %}
<br>
<h4 style="color:red;">Your Cart is Empty like this:&emsp;&emsp;
    {% load static %}
    <a href="{% url 'ecommerce:home' %}">
        <img src="{% static 'ecommerce/img/cart.png' %}" alt="Empty Cart" width="200" /></a>
</h4>
{% endif %}
{% endblock %}