{% extends 'ecommerce/base.html' %}
{% block title %}Create Order{% endblock %}

{% block content %}

<h1>Create Order</h1>
<hr>
<h3>Your Cart</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for data in cart_data %}
        <tr>
            <td><a href="{% url 'ecommerce:product_detail' data.cart_item.product.id %}">{{ data.cart_item.product.name|title }}</a></td>
            <td>${{ data.cart_item.product.price }}</td>
            <td>{{ data.cart_item.quantity }}</td>
            <td>${{ data.sub_total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ${{ total_price }}</p>
<hr>
<h3>Order Information</h3>
<br>
<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Create Order</button>
</form>
{% endblock %}
